@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
  transition: all 0.4s;
}
body {
  background-color: rgba(0, 0, 0, 0), #000000;
  background-image: url('../images/background2.png'), url('../images/background.jpg');
  background-size: 100% 100%, auto;
  font-size: 16px;
  padding-top: 150px;
  min-height: 1200px;
}
hr {
  border: 1px solid rgba(57, 99, 145, 0.25);
}
.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
nav {
  position: relative;
}
nav ul,
nav li,
nav a,
nav a > i,
nav a > span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px;
}
nav ul li a i {
  margin-right: 5px;
}
nav ul li a,
nav ul li a i,
nav ul li a span {
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a i:hover,
nav ul li a span:hover,
nav ul li a.active,
nav ul li a i.active,
nav ul li a span.active {
  text-decoration: none;
}
.loadingtext {
  opacity: 0.3;
}
@media screen and (max-width: 1200px) {
  body {
    padding-top: 50px;
  }
  .container {
    margin: 10px;
  }
}
#navbar {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 50px;
  margin: 50px 0;
  background: #396391;
}
#navbar h1,
#navbar h2,
#navbar h3,
#navbar h4,
#navbar h5,
#navbar h6,
#navbar p,
#navbar a,
#navbar span {
  font-family: 'Roboto', sans-serif;
}
#navbar a,
#navbar a span,
#navbar a i {
  color: #a3b6f4;
}
#navbar a:hover,
#navbar a.active,
#navbar a:hover span,
#navbar a.active span,
#navbar a:hover i,
#navbar a.active i {
  color: #e8ecfc;
}
#navbar a i {
  margin-right: 10px;
}
#navbar .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
#navbar .main {
  position: relative;
}
#navbar .main a {
  padding-left: 25px;
  padding-right: 25px;
}
#navbar .main a span,
#navbar .main a i {
  font-size: 1.2em;
}
#navbar .main a:hover {
  background: #32577f;
}
#navbar .lang h1,
#navbar .lang h2,
#navbar .lang h3,
#navbar .lang h4,
#navbar .lang h5,
#navbar .lang h6,
#navbar .lang p,
#navbar .lang a,
#navbar .lang span {
  font-size: 0.8em;
}
#navbar .lang ul {
  height: 100%;
}
#navbar .menu-btn {
  display: none;
}
#navbar #logo {
  height: 50px;
}
#navbar #logo span,
#navbar #logo i {
  display: none;
}
#navbar #logo a {
  padding: 0;
}
#navbar #logo a:hover {
  background: none;
}
#navbar #logo img {
  height: 130px;
}
#navbar #logo:hover img {
  transform: scale(1.05, 1.05);
}
#navbar.fixed {
  position: fixed;
  z-index: 100;
  margin: 15px 0;
}
#navbar.fixed .main {
  position: relative;
}
#navbar.fixed .main a {
  padding-left: 15px;
  padding-right: 15px;
}
#navbar.fixed .main a span,
#navbar.fixed .main a i {
  font-size: 1em;
}
#navbar.fixed #logo {
  height: 50px;
}
#navbar.fixed #logo img {
  height: 90px;
  margin-top: 5px;
}
@media screen and (max-width: 1200px) {
  #navbar {
    position: fixed;
    margin: 0!important;
    width: 100%;
    z-index: 100;
    height: 45px;
    overflow: hidden;
  }
  #navbar:hover {
    height: auto;
  }
  #navbar .wrapper {
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  #navbar .menu-btn {
    display: block;
  }
  #navbar ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  #navbar a {
    width: 100%;
    background: #4c84b5;
    border-bottom: rgba(53, 93, 128, 0.3) 1px solid;
    padding-left: 15px;
    padding-right: 15px;
  }
  #navbar a span,
  #navbar a i {
    font-size: 1em!important;
  }
  #navbar a:hover {
    background: #355d80 !important;
  }
  #navbar .main {
    position: relative;
  }
  #navbar #logo span,
  #navbar #logo i {
    display: block;
  }
  #navbar #logo img {
    display: none;
  }
}
#joindre form {
  text-align: center;
}
#joindre form input,
#joindre form textarea {
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
#joindre form button {
  width: 35%;
  margin-top: 50px;
  background: #396391;
  border: none;
  font-size: 1.2em;
}
#joindre .banner-social-buttons li a {
  border: none;
}
#joindre .banner-social-buttons li a i {
  margin-right: 10px;
}
#joindre .banner-social-buttons li.twitter a {
  background: #1dcaff;
}
#joindre .banner-social-buttons li.google a {
  background: #dd4b39;
}
#joindre .banner-social-buttons li.linkedin a {
  background: #0077b5;
}
#joindre .banner-social-buttons li.facebook a {
  background: #3b5998;
}
@media screen and (max-width: 1200px) {
  .banner-social-buttons li {
    width: 100%;
  }
  .banner-social-buttons li a {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
}
#projets .projet {
  width: 90%;
  margin: 10px auto;
}
#projets .projet a {
  display: block;
  text-decoration: none;
  margin: 10px 0;
}
#projets .projet a:hover {
  margin: 7.5px 0;
}
#projets .projet a:hover .media-left div {
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
}
#projets .projet a:hover .media-left img {
  height: 105px;
}
#projets .projet a:hover .media-body {
  padding-left: 20px;
}
#projets .projet h3 {
  color: #396391;
  margin: 0;
}
#projets .projet h4 {
  color: #4c84b5;
  font-size: 1em;
}
#projets .projet .media-left {
  position: relative;
  z-index: 0;
  padding: 0;
}
#projets .projet .media-left div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 0%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row ;
      flex-direction: row ;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
#projets .projet .media-left div i {
  font-size: 50px;
  color: white;
  opacity: 0.5;
}
#projets .projet .media-left img {
  height: 100px;
}
#projets .projet .media-body {
  padding-left: 10px;
}
@media screen and (max-width: 1200px) {
  #projets .projet {
    display: block;
  }
  #projets .projet a:hover {
    margin: 10px 0;
  }
  #projets .projet a:hover .media-left img {
    height: 100px;
  }
  #projets .projet a:hover .media-left div {
    display: none;
  }
  #projets .projet a:hover .media-body {
    padding-left: 10px;
  }
  #projets .projet .media-left {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  #projets .projet .media-body {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #bac8f7;
    padding-bottom: 10px;
  }
  #projets .projet .media-body h4 {
    text-align: justify;
  }
}
