/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/web/grunt/node_modules

/web/angular/node_modules
/web/angular/.idea
/web/angular/node_modules
/web/angular/jspm_packages
/web/angular/npm-debug.log
/web/angular/debug.log
/web/angular/src/**/*.js
/web/angular/!src/systemjs.config.extras.js
/web/angular/!src/systemjs.config.js
/web/angular/*.js.map
/web/angular/e2e/**/*.js
/web/angular/e2e/**/*.js.map
/web/angular/_test-output
/web/angular/_temp