*{
	box-sizing: border-box;
	transition: all 0.4s;
}

body{
	background: @color1;
	font-size: 16px;
	padding-top: 150px;
	height:1000px;
}

nav{
	position: relative;

    ul, li, a, a>i, a>span{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

	ul{
		margin:0;
        padding:0;

		li{
			list-style-type: none;
            
            a{
                .center();
                padding: 10px;

                i{
                    margin-right: 5px;
                }
                &, i, span{
                    text-decoration: none;
                    
                    &:hover, &.active{
                        text-decoration: none;
                    }
                }
            }
		}
	}
}

.loadingtext{
	opacity: 0.3;
}



#map {
  height: 430px;
  position: relative;
  width: 100%;
}

.maps-frame {
  height: 430px;
  width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton a {
  color: #757575;
  display: inline-block;
  height: 100%;
  padding: 0 24px;
  width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton {
  padding: 0;
}

.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
  color: #03a9f4;
}

.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
  text-decoration: none;
}

p.top-desc {
  padding: 1em 1em .1em 1em;
}

p.bottom-desc {
  padding: 0em 1em 1em 1em;
}