@import "../plugins/animate/animate.less";
@import "varinit.less";
@import "tools.less";
@import "modules/navbar.less";

*{
	box-sizing: border-box;
	transition: all 0.4s;
}

body{
	background: @color1;
	font-size: 2em;
	
	height:2000px;
}

