<nav [ngClass]="{'fixed': navIsFixed }" class="navbar">
	<ul class="main">
		<li id="logo" >
			<a routerLink="/" >
				<img src="assets/images/logo.png" alt="Jacob Proulx Programmeur Web Logo" />
			</a>
		</li>
		<li>
			<a routerLink="/a-propos" >
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<p>Qui suis-je?</p>
				<span class="bottom"></span>
			</a>
		</li>
		<li>
			<a routerLink="/quest-ce-que-je-fais" class="active">
				<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
				<p>Qu'est-ce que je fais?</p>
				<span class="bottom"></span>
			</a>
			<ul>
				<li>
					<a routerLinkActive="active" routerLink="/" >
						<i class="fa fa-paint-brush" aria-hidden="true"></i>
						<p>Projets</p>
					</a>
				</li>
				<li>
					<a routerLinkActive="active" routerLink="/" class="active">
						<i class="fa fa-graduation-cap" aria-hidden="true"></i>
						<p>Compétences</p>
					</a>
				</li>
				<li>
					<a routerLinkActive="active" routerLink="/" >
						<i class="fa fa-futbol-o" aria-hidden="true"></i>
						<p>playground</p>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<div class="lang">
	
		<a class="active" >
			<i class="fa fa-comment-o" aria-hidden="true"></i>
			<i class="fa fa-comment active" aria-hidden="true"></i>
			<p>fr</p>
		</a>
		<a>
			<i class="fa fa-comment-o" aria-hidden="true"></i>
			<i class="fa fa-comment active" aria-hidden="true"></i>
			<p>en</p>
		</a>
	</div>
</nav>